/* --------------------------
 * GENERAL
 * -------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(#444444, #333333);

  /* --------------------------
   * BANNER
   * -------------------------- */

  .container {
    position: relative;
    width: var(--ad-width);
    height: var(--ad-height);
    border: 1px solid var(--colors-border-color);
    background-color: var(--colors-white);
    overflow: hidden;
    opacity: 0;

    a {
      display: block;
      width: var(--ad-width);
      height: var(--ad-height);
      color: inherit;
      cursor: pointer;
      text-decoration: none;

      div {
        position: absolute;
        display: block;
      }
    }
  }
}
