/* --------------------------
 * GENERAL
 * -------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(#444444, #333333);

  /* --------------------------
    * BANNER
    * -------------------------- */

  .container {
    position: relative;
    width: var(--ad-width);
    height: var(--ad-height);
    background-color: var(--white);
    border: 1px solid var(--border-color);
    opacity: 0;
    overflow: hidden;

    a {
      display: block;
      width: var(--ad-width);
      height: var(--ad-height);
      color: inherit;
      text-decoration: none;
      cursor: pointer;

      div {
        display: block;
        position: absolute;
      }
    }
  }
}
