@use 'sprite';

/** --------------------------
 * CUSTOM BANNER CODE
 * -------------------------- */

.container {
  a {
    font-family: 'Montserrat', sans-serif;

    /** --------------------------
     * BACKGROUND
     * -------------------------- */
    .background {
      top: 0;
      left: 0;
      width: var(--ad-width);
      height: var(--ad-height);

      .bg {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: var(--images-image-1-url) no-repeat center center;
        background-size: cover;
      }
    }

    /** --------------------------
     * CONTENT
     * -------------------------- */
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: var(--ad-width);
      height: calc(var(--ad-height) - 56px);
      padding: 15px 20px;
      gap: 10px;
      align-content: center;

      .headline {
        position: relative;
        font-family: Arial;
        font-style: normal;
        font-size: var(--typography-headline-1-font-size);
        font-weight: 700;
        line-height: var(--typography-headline-1-line-height);
        color: var(--colors-white);
        text-align: center;
      }

      .subhead {
        position: relative;
        font-family: Arial;
        font-style: normal;
        font-size: var(--typography-subhead-1-font-size);
        font-weight: 500;
        line-height: var(--typography-subhead-1-line-height);
        color: var(--colors-white);
        text-align: center;
      }
    }

    /** --------------------------
     * FOOTER
     * -------------------------- */
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: var(--ad-width);
      padding: 15px 20px;
      gap: 20px;
      bottom: 0;

      div {
        position: relative;
      }

      .logo {
        @include sprite.sprite(sprite.$logo);
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 7px 15px;
        background-color: var(--colors-white);

        .cta {
          font-family: Arial, Helvetica, sans-serif;
          font-size: var(--typography-cta-font-size);
          color: var(--colors-black);
          text-transform: uppercase;
        }
      }
    }
  }
}
