@use 'sprite';

/** --------------------------
 * CUSTOM BANNER CODE
 * -------------------------- */

.container {
  a {
    font-family: 'Montserrat', sans-serif;

    .background {
      height: var(--ad-height);
      width: var(--ad-width);
      background: linear-gradient(rgb(0, 51, 76), rgb(6, 20, 36));
      top: 0;
      left: 0;

      .photo {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        background: var(--images-image-1-url) no-repeat center center;
        background-size: cover;
        overflow: hidden;
        mix-blend-mode: luminosity;
        opacity: 0.1;
      }
    }

    .main-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 50px);
      width: calc(100% - 40px);
      gap: 15px;
      top: 0;
      left: 20px;

      .headline {
        position: relative;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: var(--typography-headline-1-line-height);
        font-size: var(--typography-headline-1-font-size);
        text-transform: uppercase;
        text-align: center;
        color: var(--colors-white);

        .red {
          color: red;
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 70px;
      width: calc(100% - 40px);
      bottom: 0;
      left: 20px;

      .logo {
        @include sprite.sprite(sprite.$logo);
        position: relative;
      }

      .button {
        position: relative;
        display: inline-block;
        margin-left: auto;
        background-color: #0d2d41;
        border: 1px solid #f47723;
        border-radius: 25px;

        .cta-text {
          position: relative;
          display: block;
          padding: 9px 20px;
          font-weight: 700;
          color: var(--colors-white);
          text-transform: uppercase;
          letter-spacing: 0.2px;
          font-size: 13px;
        }
      }
    }
  }
}
